@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* Definizione delle variabili */
:root {
  --color-base: #007ABA;
  --color-text: #222;
  --color-accent: desaturate(navy,80%);
  }
  
  /* Reset degli stili */
  
  /* Stili per il body */
  box-sizing border-box
  body {
  background: var(--color-accent);
  color: var(--color-text);
  line-height: normal;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  }
  
  /* Stili per i link */
  a, a:hover {
  color:#fff;
  text-decoration: none;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
  font-size: 22.5px
  
}
  /* Stili per la navbar */
  nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 85px;
  background: var(--color-base);
  box-shadow: 0 0px 9px 4px rgba(0,0,0,.1), 0 -5px 2px 2px rgba(0,0,0,.1);
  z-index: 1000;
  min-width: 1000px;
  }
  
  /* Stili per il logo nella navbar */
  nav .logo {
  position: relative;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  }
  nav .logo span {
  display: inline-block;
  position: relative;
  top: -8px;
  font-size: 12pt;
  }
  nav .logo:hover {
  background: lighten(var(--color-accent), 40);
  }
  
  /* Stili per i link nella navbar */
  nav .links {
  float: right;
  margin-right: 30px;
  position: relative;
  }
  
  nav .links li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
  }
  
  nav .links li > a {
  position: relative;
  display: inline-block;
  padding: 15 10px;
  line-height: 30px;
  height: 50px;
  }
  
  nav .links li > a:hover {
  color: var(--color-base);
  background: var(--color-accent);
  border-radius: 2px;
  }
  
  nav .links li > a[class^="trigger-"] {
  padding-right: 40px;
  }
  
  nav .links li > a > .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 35%;
  text-align: center;
  right: 10px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgba(0,0,0,.3) transparent;
  }
  
  nav .links li > a > .arrow:after {
  content: "";
  border-left: 1px solid rgba(0,0,0,.15);
  top: -10px;
  left: -15px;
  position: absolute;
  height: 15px;
  }
  
  nav .links li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background: var(--color-base);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  display: none;
  }
  nav .links li ul > li {
  clear: both;
  list-style: none;
  display: block;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  }
  nav .links li ul > li:hover {
  background: lighten(var(--color-accent), 40);
  }
  
  nav .links li:hover > .drop {
  display: block;
  animation: fadeInRight .3s ease;
  -webkit-animation: fadeInRight .3s ease;
  }
  
  /* Animazione fadeInRight */
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  transform: translate3d(100%,0,0);
  }
  100% {
  opacity: 1;
  transform: none;
  }
  }

  .testo{
    font-family: "Varela Round", sans-serif;
  }

 .scritta{
  font-family: "Varela Round", sans-serif;
  color:#007ABA;
  text-align: center;
  font-size: 60px;
 }
 .scritta2{
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
} 
.scritta3{
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
} 
  #carat{  
  margin-right: 2%; width:auto 
 } 
 .tre{
  position:fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background-color:rgba(0, 0, 0, 0);
      color: #fff;
      text-align: center;
      padding: 1.5px 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.write{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#007ABA;
  text-align: center;
  font-size: 50px;
}
.write2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align:center;
  font-size: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.write3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#007ABA;
  text-align: center;
  font-size: 50px;
}
.write4{
  font-family:"Varela Round", sans-serif;
  color: #ffffff;
  text-align:left;
  font-size: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.img2{
  float: right;
  height: 350px;
  width: 500px;
  margin-right: 10%;
}
.img3{
  float: left;
  height: 350px;
  width: 500px;
  margin-left: 10%;
}
footer {
  height: 800px;
    background: linear-gradient(0deg, rgba(129, 129, 129, 0.4), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  }

  .footer2 {
    height: 100px;
    background: linear-gradient(0deg, rgba(129, 129, 129, 0.4), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    }

  .corrado{
    width: 100%;
  height: 170%;
  background-image: url("fotocanottieri+.png"); 
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.65)),url(fotocanottieri+.png) no-repeat center center;
  background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;max-width: 100%;
  }
  .lollo{
    width: 100%;
  height: 100%;
  background-image: url("pexels-run-ffwpu-3554634.jpg"); 
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.30)),url(pexels-run-ffwpu-3554634.jpg) no-repeat center center;
  background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;max-width: 100%; 
  }
  .fresta{
    width: 100%;
  height: 100%;
  background-image: url("fotoaula.jpg"); 
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.40)),url(fotoaula.jpg) no-repeat center center;
  background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;max-width: 100%; 
  }
  .spacer{margin-top:100px;}
  .alignleft {
      text-align:left;
  }
  .alignright {
      text-align:right;
  }
  #ext-1 {
      position:absolute;
      height:100%;
      z-index:5;
  }
  #ext-2 {
      position:absolute;
      height:100%;
      transform:scale(0.8) translateX(-20vw);
      z-index:4;}
  #ext-2 .image-w{
      opacity:0.8
  }
  #ext-3 {
      position:absolute;
      height:100%;
      transform:scale(0.6) translateX(-30vw);
      z-index:3;}
  #ext-3 .image-w{
      opacity:0.6
  }
  #ext-4 {
      position:absolute;
      height:100%;
      transform:scale(0.4) translateX(-20vw);
      z-index:2;}
  #ext-4 .image-w{
      opacity:0.2
  }
  #ext-5
  {
      position:absolute;
      height:100%;
      transform:scale(0.2);
      z-index:1;}
  #ext-5 .image-w{
      opacity:0;
  }
  #ext-6 {
      position:absolute;
      height:100%;
      transform:scale(0.4) translateX(20vw);
      z-index:2;}
  #ext-6 .image-w{
      opacity:0.2
  }
  #ext-7 {
      position:absolute;
      height:100%;
      transform:scale(0.6) translateX(30vw);
      z-index:3;}
  #ext-7 .image-w{
      opacity:0.6
      
  }
  #ext-8
  {
      position:absolute;
      height:100%;
      transform:scale(0.8) translateX(20vw);
      z-index:4;}
  #ext-8 .image-w{
      opacity:0.8
  }
  
  .slider-cont {
      width:80%;
      position:relative;
      display:inline-block;
  }
  
  .image-slider {
      height:100%;
      position:absolute;
  }
  
  .cont-slider {
      display:inline-block;
      vertical-align:middle;
      transform-origin: top;
      transition:all 500ms cubic-bezier(0.71, 0.57, 0.01, 0.98);
  }
  
  .slider-layer {
      position:absolute;
      z-index:6;
      width:100%;
      height:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+26,0+50,0+77,1+100 */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 77%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 26%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 26%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 77%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  
  
  }
  
  .test-slider {
      position:relative;
      width:30%;
      height:0;
      padding-bottom:30%;
      margin-left:35%;
  }
  
  .image-w {
      height:100%;
      position:absolute;
  }
  
  .arrow {
      display:inline-block;
      width:10%;
      opacity:0.3;
      vertical-align: top;
  }
  .arrow:hover{cursor:pointer}
  
  .arimage {
      width:100%;
  }
  
  .arrowleft {
      transform:rotate(90deg)
  }
  
  .arrowright {
      transform:rotate(-90deg)
  }
  
  .flat-w-image {
      -webkit-filter:contrast(0) brightness(10);
      filter:contrast(0) brightness(10);
  }