body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Lago_di_Pusiano_%28Bosisio_Parini%2C_Pusiano%2C_Cesana_Brianza%29.jpg/1920px-Lago_di_Pusiano_%28Bosisio_Parini%2C_Pusiano%2C_Cesana_Brianza%29.jpg");
  }
  nav {
    background-color: #a5a5a5;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  img {
    float: right;
    margin-left: 10px;
  }